html{
    height: auto;
}

body{
    background-color: rgb(255, 255, 255);
}
.geral{
    margin-right: none;
    font-family: 'Montserrat Hairline', sans-serif;
}

.img01{
    background-repeat:no-repeat ;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.title{
    font-family: 'Montserrat Hairline', sans-serif;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 4rem;                                                                                    
}




.g{
    margin-right: 30rem;
}
.button{
    border-color: transparent;
    
}
    
.redes a {
    margin-right: 2rem;
    text-decoration: transparent;
}
