html{
    height: 100%;
}

body{
    background-color: rgb(255, 255, 255);
    padding-left:5rem ;
    padding-top: 5rem;
}
.img{
    width: 30vw;
    position: absolute;
    top: 10vw;
    right: 15vw;
   
}
.subtitle{
    font-family: 'Montserrat Hairline', sans-serif;
    margin-left: 45rem;
    margin-top: 13rem;
    font-size: 15px;
}
.title{
    font-family: 'Montserrat Hairline', sans-serif;
    font-size: 7rem;
    margin-bottom: 0;
    margin-right: 0px;
    margin-left: 0%;
    margin-top: 10rem;                                                                                    
}
.g{
    margin-right: 30rem;
}

.redes a {
    margin-bottom: 4rem;
    margin-right:2rem;
    font-family: 'Montserrat Hairline', sans-serif;
    text-decoration: transparent;
}
