body{
    background-color: #ffffff;
    padding-top: 5vw;
    padding-left: 7vw;
}
.titulo{
    color: #A293B8;
    font-family: 'Montserrat Hairline', sans-serif;
    font-size: 3vw;
    padding-top: 2vw; 
    margin-bottom: 0;
    margin-right: 0vw;
    margin-left: 3vw;
    
}

.subtitulo{
    color: #A293B8;
    margin-left: 3vw;
    margin-top: 3vw;
    font-family: 'Montserrat Hairline', sans-serif;
    font-size: 20px; 
}
.img02{
    width: 30vw;
    position: absolute;
    top: 10vw;
    right: 15vw;
   
}
.container{
    border-radius: 2rem;
    background-color: #ffffff;
    height: 25rem;
    width: 60rem;
    /*box-shadow: 10px 20px 15px #ffd0d3,
             -10px -20px -15px  #cf000a;*/
    box-shadow:  26px 26px 53px #44424299,
    -26px -26px 53px #ffd0d336;

}
a .button{
    color: #CFBCEB;
    border-color: transparent;
    height: 2vw;
    border-radius: 1vw;
    width: 100px;
    text-decoration: transparent;
}