body{
    background-color: #ffffff;
    padding-top: 3vw;
    padding-left: 2vw;
}
.titulo{
    color: #A293B8;
    font-family: 'Montserrat Hairline', sans-serif;
    font-size: 3vw;
    padding-top: 2vw; 
    margin-bottom: 0;
    margin-right: 0vw;
    margin-left: 3vw;
    
}

.subtitulo{
    color: #A293B8;
    margin-left: 3vw;
    margin-top: 3vw;
    font-family: 'Montserrat Hairline', sans-serif;
    font-size: 20px; 
}
.img02{
    width: 30vw;
    position: absolute;
    left: 60vw;
    top: 10vw;
    right: 15vw;
   
}
.container{
    border-radius: 2rem;
    background-color: #ffffff;
    height: 20rem;
    width: 50rem;
    box-shadow:  26px 26px 53px #A293B8,
    -26px -26px 53px #ffd0d336;

}
.button{
    align-items: center;
    margin-top: 5vw;
    appearance: none;
    background-color: #A293B8;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #282829;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 15px;
    font-weight: 50vw;
    height: 60px;
    justify-content: center;
    letter-spacing: .25VW;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 3vw;
    width: 6vw;
    will-change: transform,opacity;
    z-index: 0;
    }
    
    .button:hover {
    background: #F6F9FE;
    color: #A293B8;
    }
    
    .button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    }
    
    .button:focus {
    outline: none;
    border: 2px solid #4285f4;
    }
    
    .button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }
    
    .button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }
    
    .button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    .redes a {
        color: #A293B8;
        margin-left: 1vw;
        margin-bottom: 4vw;
        margin-right:2vw;
        font-family: 'Montserrat Hairline', sans-serif;
        text-decoration: transparent;
      }
      